### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule budzet-domowy index.html
RewriteRule zaloz-konto registration.php
RewriteRule budzet-menu-glowne menu.php
RewriteRule budzet-wprowadz-wydatek expenses.html
RewriteRule budzet-przegladaj-bilans balance.html
