.navbar
{
	background-color: #4682B4;
}

.navbar a
{
	color: #FFF;
}


.navbar a:hover
{
	color: #CFB53B;
	cursor: pointer;
}

.container-main
{
	border-left: 2px solid #5F9EA0;
	border-right: 2px solid #5F9EA0;
	background-color: #FFFAFA;
	min-height: 90vh;
}

.description
{
	margin-top: 80px;
	text-align: justify;
}

.options
{
	font-size: 20px;
	margin-top: 30px;
	text-align: center;
	width: 260px;
	margin-left: auto;
	margin-right: auto;
}

.options a
{
	padding: 12px;
	border: 2px solid #4682B4;
	border-radius: 30px;
	color: #000;
	background-color: #F0F8FF;
	text-decoration: none;
	display: block;
	transition: background-color 0.5s ease-in-out;
}

.options a:hover
{
	background-color: #4682B4;
	border: 2px solid #CFB53B;
	color: #CFB53B;
}

footer
{
	border-top: 2px solid #5F9EA0;
	text-align: center;
	background-color: #4682B4;
	color: #FFF;
}

.sticky
{
	position: sticky;
    top: 0px;
	z-index: 100;
}