
.icon-money:before { content: '\e800'; } /* '' */
.icon-money-1:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-logout:before { content: '\e803'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */