{% extends "main.html" %}

{% block title %}Reset hasła | Budżet{% endblock %}

{% block form %}

    <h1 class="my-4"><span class="fw-bold text-primary">Prośba o </span><span class="fw-bold text-warning">zresetowanie </span><span class="fw-bold text-success">hasła</span></h1>

	<form method="post" action="/password/request-reset">

		<div class="mx-5">
			<input class="form-control mb-3" type="email" id="inputEmail" name="email" placeholder="Adres e-mail" autofocus required />
		</div>

		<button class="btn btn-primary mb-5 mt-2 mx-5 w-50" type="submit">Wyślij</button>
	
	</form>

{% endblock %}
