{% extends "main.html" %}

{% block title %}Reset hasła | Budżet{% endblock %}

{% block script %}
	<script src="/js/app.js"></script>

	<script>	
		$(document).ready(function() {

			/**
			 * Validate the form
			 */
			$('#formPassword').validate({
				rules: {
					password: {
						required: true,
						minlength: 6,
						validPassword: true
					},
					password_confirmation: {
						equalTo: '#inputPassword'
					}
				}
			});
		});
	</script>
	
{% endblock %}

{% block form %}

    <h1 class="my-4"><span class="fw-bold text-primary">Reset</span><span class="fw-bold text-warning">owanie </span><span class="fw-bold text-success">hasła</span></h1>

	{% if user.errors is not empty %}
		<p>Błędy rejestracji:</p>
		<ul class="list-group list-group-flus mb-3">
		{% for error in user.errors %}
			<li class="list-group-item list-group-item-danger">{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}

	<form method="post" action="/password/reset-password" id="formPassword">
	
		<input type="hidden" name="token" value="{{ token }}" />
	
		<div>
			<input class="form-control mb-3" type="password" id="inputPassword" name="password" placeholder="Hasło" required />
		</div>
		<div>
			<input class="form-control mb-3" type="password" id="inputPasswordConfirmation" name="password_confirmation" placeholder="Powtórz hasło" required />
		</div>
		
		<button class="btn btn-primary mb-5 mt-2 mx-5 w-50" type="submit">Zresetuj hasło</button>
	
	</form>
	
{% endblock %}
