{% extends "menu.html" %}

{% block title %}Budżet{% endblock %}

{% block form %}
<h1 class="my-4"><span class="fw-bold text-primary">Cześć, </span><span class="fw-bold text-warning">Dawid</span><span class="fw-bold text-success">!</span></h1>

<p>Fajnie, że nas odwiedzasz 😄</p>
<p>Mamy dla Ciebie garść inspirujących cytatów 😉</p>

{% for quote in quotes %}
	<figure class="text-center">
		<blockquote class="blockquote">
			<p>{{ quote.name }}</p>
		</blockquote>
		<figcaption class="blockquote-footer">{{ quote.author }}</figcaption>
	</figure>
{% endfor %}

{% endblock %}

