{% extends "menu.html" %}

{% block title %}Bilans | Budżet{% endblock %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="myModalLabel">Wybierz okres</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div id="date-range"></div>	
				<div><a href="#" id="current-month">Bieżący miesiąc</a></div>
				<div><a href="#" id="previous-month">Poprzedni miesiąc</a></div>
				<div><a href="#" id="current-year">Bieżący rok</a></div>
				<div><a href="#" id="custom-date">Niestandardowy</a></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Zamknij</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block form %}
<h1 class="mb-5 mt-4"><span class="fw-bold text-primary"><i class="icon-balance-scale"></i></span><span class="fw-bold text-warning"> Przeglądaj </span><span class="fw-bold text-success">bilans</span></h1>
	
<!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary float-end me-5" data-bs-toggle="modal" data-bs-target="#myModal">
	Wybierz okres
</button>
	
<div class="ms-5 text-start" id="date-range-main"></div>

<div>
	<div class="row mx-5 py-4">
							
		<div class="col-lg-6 text-center">
						
			<h2>Przychody</h2>
			
			<table class="table table-hover table-bordered" id="incomes">
			</table>
				
		</div>	
					
		<div class="col-lg-6 text-center">
						
			<h2>Wydatki</h2>
			
			<table class="table table-hover table-bordered" id="expenses">
			</table>
					
		</div>
						
	</div>
	
	<div class="row mx-5">
				
		<div class="col-md-12">
					
			<div id="balance-result"></div>

		</div>
				
	</div>
	
</div>
				
<div id="piechart"></div>
{% endblock %}

{% block script %}
<script src="/js/date.js"></script>
{% endblock %}