{% extends "base.html" %}

{% block title %}Budżet domowy - zaloguj się{% endblock %}

{% block body %}

    <h1>Zaloguj się</h1>

	<form method="post" action="/login/create">

		<div>
			<label for="inputEmail">Adres e-mail</label>
			<input type="email" id="inputEmail" name="email" placeholder="Adres e-mail" autofocus value="{{ email }}" />
		</div>
		<div>
			<label for="inputPassword">Hasło</label>
			<input type="password" id="inputPassword" name="password" placeholder="Hasło" />
		</div>
		<div>
			<label>
				<input type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %} /> Zapamiętaj mnie
			</label>
		</div>

		<button type="submit">Zaloguj się</button>
		<a href="/password/forgot">Nie pamiętasz hasła?</a>
	
	</form>

{% endblock %}
