{% extends "menu.html" %}

{% block title %}Przychód | Budżet{% endblock %}

{% block form %}
<h1 class="my-4"><span class="fw-bold text-primary"><i class="icon-money-1"></i></span><span class="fw-bold text-warning"> Dodaj </span><span class="fw-bold text-success">przychód</span></h1>

<form method="post" action="/income/add-income" id="formIncome">
							
	<div class="mx-5">
		<input class="form-control mb-3" type="number" name="amount" placeholder="Kwota"  step="0.01" autofocus required>
	</div>
	
	<div class="mx-5">
		<input class="form-control mb-3" type="date" name="date_of_income" id="time" placeholder="Data" required>
	</div>
	
	<p class="mx-5 mb-1 text-start">Kategoria:</p>
	{% for income_category in income_categories %}	
	<div class="form-check mx-5 text-start">
		<input class="form-check-input" type="radio" name="income_category" id="{{ income_category.name }}" value="{{ income_category.name }}" required>
		<label class="form-check-label" for="{{ income_category.name }}"> {{ income_category.name }}</label>
	</div>
	{% endfor %}

	<div class="form-floating mx-5 my-3">
		<textarea class="form-control" name="comment" id="comment" maxlength="100"></textarea>
		<label for="comment">Komentarz</label>
	</div>

	<div class="d-grid gap-2 d-lg-block mb-5 mx-5 mt-4">
		<button class="btn btn-success px-lg-5" type="submit">Dodaj</button>
		<button class="btn btn-danger px-lg-5" type="reset">Anuluj</button>
	</div>
						
</form>
	
{% endblock %}

{% block script %}	
	<script src="/js/time.js"></script>
{% endblock %}
